.overlay {
  z-index: 3;
  background-color: rgba(0,0,0,0.75);
}

.exit{
  display: block;
  margin-left: auto;
}

.ok{
  display: block;
  font-size: 24px;
  padding: 0 15px;
  margin-left: auto;
}

.guvohnoma {
  width: 100%;
  height: auto;
}

.guvohnomaModal {
  width: 25%;
  padding: 20px;
  background: white;
  text-align: center;
}

.checkLabel{
  display: flex;
}

.checkbox{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.shartnoma-link{
  text-decoration: none;
  margin: 0 10px;
}

.guvohnomaModal p{
  margin: 5px 0 0 0;
}

.contract-link{
  display:inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
}

/* ===================== responsive ============ */

@media screen and (max-width: 1000px) {
  .guvohnomaModal {
    width: 30%;
  }
}

@media screen and (max-width: 800px) {
  .guvohnomaModal {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .guvohnomaModal {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  .guvohnomaModal {
    width: 60%;
  }
}