.header {
  padding-top: 20px;
}

.header-hero{
  display: flex;
  justify-content: space-around;
}

.headWater {
  width: 100%;
  height: 150px;
}

.headVater {
  width: 600px;
  height: 400px;
}

.header-text{
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  padding: 15px 15px;
  text-align: center;
  border-radius:0 0 20px 20px;
  color: white;
  background-color: #4973ff;
}


/* =============================== responsive ================ */

@media screen and (max-width: 1250px) {
  .headVater {
    width: 400px;
    height: 300px;
  }
}

@media screen and (max-width: 900px) {
  .headVater {
    width: 300px;
    height: 200px;
  }
}

@media screen and (max-width: 700px) {
  .headVater {
    width: 250px;
    height: 150px;
  }

  .headWater {
    height: 100px;
  }
}

@media screen and (max-width: 580px) {
  .headVater {
    width: 200px;
    height: 120px;
  }

  .headWater {
    height: 80px;
  }
}

@media screen and (max-width: 450px) {
  .headVater {
    width: 150px;
    height: 80px;
  }

  .headWater {
    height: 50px;
  }

  .header-text{
    font-size: 18px;
  }
}

/* ================== loader responsive ===================== */

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -750px;
  width: 80%;
  height: auto;
}

@media screen and (max-width: 1400px) {
  .loader {
    margin-top: -700px;
  }
}

@media screen and (max-width: 1300px) {
  .loader {
    margin-top: -650px;
  }
}

@media screen and (max-width: 1200px) {
  .loader {
    margin-top: -500px;
  }
}

@media screen and (max-width: 1100px) {
  .loader {
    margin-top: -450px;
  }
}

@media screen and (max-width: 1000px) {
  .loader {
    margin-top: -350px;
  }
}

@media screen and (max-width: 850px) {
  .loader {
    margin-top: -300px;
  }
}

@media screen and (max-width: 750px) {
  .loader {
    margin-top: -200px;
  }
}

@media screen and (max-width: 650px) {
  .loader {
    margin-top: -130px;
  }
}

@media screen and (max-width: 550px) {
  .loader {
    margin-top: -100px;
  }
}

@media screen and (max-width: 500px) {
  .loader {
    margin-top: -30px;
  }
}

@media screen and (max-width: 400px) {
  .loader {
    margin-top: 50px;
  }
}