.timeOut {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  padding: 10px 7px;
  border: 1px solid #4973ff;
  background-color: rgba(73, 115, 255, 0.5);
  border-radius: 20px;
}

.timeOut p {
  font-size: 20px;
  font-weight: bold;
  color:white;
}

.timeOut button {
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  background-color:rgb(49, 71, 142);
  color: white;
}

.timeOut button:hover {
  background-color: rgba(49, 71, 142, 0.7);
}

.timeOut button:active {
  background-color: rgba(49, 71, 142, 0.5);
}

.timeOut .timeOut-btn {
  padding: 5px 20px;
}

/* ============== responsive ==================== */

@media screen and (max-width: 800px) {
  .timeOut {
    width: 180px;
  }
  
  .timeOut p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 600px) {

  .timeOut button {
    font-size: 16px;
  }
}